<!DOCTYPE html>
<html ng-app="gemClicker" ng-controller="TranslationsController as t">
    <head lang="{{ locale }}">
        <meta charset="UTF-8">
        <title>{{ gemShortStats }}</title>

        <!-- Vendors -->
        <script type="text/javascript" src="/vendor/angular.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-local-storage.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-touch.min.js"></script>
        <script type="text/javascript" src="/vendor/angular-animate.min.js"></script>

        <!-- Sources -->
        <script type="text/javascript" src="/src/app.js"></script>

        <!-- Translations -->
        <script type="text/javascript" ng-src="/assets/translations/{{ locale }}.js"></script>

        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <div>{{ t.welcome }}</div>
        <div class="gem-stats">{{ gemFullStats }}</div>
        <div class="gem"></div>
    </body>
</html>